<footer class="body-container">
  <div class="flex flex-wrap justify-between col-12 px1 py2 mb1">
    <div class="px1 flex v-small-hide">
      <a href="/" class="flex no-underline items-center">
        <svg class="block" style="height: 1.33rem; margin-top: -0.075rem; padding-left: 0.1rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 268.1" enable-background="new 0 0 288 268.1"><path fill="#010101" d="M0 42v212l31 14.1L62 254v-64l62-28v-46l-62 28.3V88l62-28V14.1L93 0z"></path><path fill="#00dcec" d="M62 88v56.3l62-28.3z"></path><path fill="#010101" d="M164 42v212l31 14.1 31-14.1v-64l62-28v-46l-62 28.3V88l62-28V14.1L257 0z"></path><path fill="#00dcec" d="M226 88v56.3l62-28.3z"></path></svg>
        <div class="" style="margin-left: 1rem;"><em>Fast Forward Labs</em></div>
      </a>
    </div>
    <div class="flex">
      <div class="internal-home-link px1"><a href="{{ site.github.url }}/" class="active">Blog</a></div>
      <div class="px1"><a href="http://www.fastforwardlabs.com" class="">Website</a></div>
      <div class="px1"><a href="mailto:contact@fastforwardlabs.com" class="">Email</a></div>
      <div class="px1"><a href="http://www.twitter.com/fastforwardlabs" class="">Twitter</a></div>
    </div>
  </div>
</footer>