<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="{{ 'images/favicon.png' | relative_url }}">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  {% if page.url == "/404.html" %}
      <meta http-equiv="refresh" content="3; url={{ site.github.url }}/">
  {% endif %}

  <link rel="stylesheet" href="{{ "/assets/css/syntax.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/basscss.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/reset.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <!-- Font Loading -->
  <script>
    (function( doc ) {
    // IE9+
    if( !( 'geolocation' in navigator ) ) {
      return;
    }
    let classes = [];
    // Fonts
    if( sessionStorage.chambersStageOne && sessionStorage.chambersStageTwo ) {
      classes.push( "chambers-b-loaded" );
    }
    document.documentElement.className += " " + classes.join( " " );
  })( document );
  </script>
  <script src="{{ "/assets/js/fontfaceobserver.standalone.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/fonts.js" | relative_url }}"></script>
</head>