<li class="link-preview block {{ include.optional_class }}">
  <a class="link-body relative flex flex-wrap content-between center" target="_blank" href="{{ include.link.url }}">
    {% if include.link.image %}
      <div class="preview-image" style="background-image: url({{include.link.image}});)"></div>
    {% else %}
      <div class="preview-image placeholder-image"></div>
    {% endif %}
    <div class="col-12 relative">
      <div class="short-line">
        <h4 class="m0 inline" style="">Link</h4>
      </div>
      <h5 class="m0">We're reading</h5>
    </div>
    <div class="relative col-12 px1">
      <h3 class="m0"><span class="white-span"><span class="inblock-link">{{include.link.text}}</span></span></h3>
    </div>
    <div class="relative col-12">
      <h5 class="m0"><span class="inblock-link">{{ include.link.url | remove:'http://' | remove:'https://' | remove:'www.' | split:'/' | first }}</span></h5>
      <div class="n-s">
        ↗
      </div>
    </div>
  </a>
</li>