<li class="link-preview block {{ include.optional_class }}">
  <a class="link-body relative flex flex-wrap content-between center" target="_blank" href="{{ include.link.url }}">
    {% if include.link.image %}
      <div class="preview-image" style="background-image: url({{include.link.image}});)"></div>
    {% else %}
      <div class="preview-image placeholder-image"></div>
    {% endif %}
    <div class="col-12 relative">
      <div class="short-line">
        <h4 class="m0 inline" style="">Link</h4>
      </div>
      <h5 class="m0">We're reading</h5>
    </div>
    <div class="relative col-12 px1">
      <h3 class="m0"><span class="white-span"><span class="inblock-link">{{include.link.text}}</span></span></h3>
    </div>
    <div class="relative col-12">
      <h5 class="m0"><span class="inblock-link">{{ include.link.url | remove:'http://' | remove:'https://' | remove:'www.' | split:'/' | first }}</span></h5>
      <div class="arrow-holder short-line">
        <svg xmlns="http://www.w3.org/2000/svg" style="height: 0.45rem;" viewBox="0 0 6.46 6.45"><path fill="#222" d="M5.09,6.37v-4L1.77,5.71a.1.1,0,0,1-.17,0L.75,4.85a.11.11,0,0,1,0-.07.11.11,0,0,1,0-.08l3.3-3.31H.1c-.06,0-.1,0-.1-.08a.13.13,0,0,1,0-.08l1-1.06A.47.47,0,0,1,1.48,0H6.17c.15,0,.21,0,.24.05s.05.1.05.24V4.94a.48.48,0,0,1-.11.39L5.25,6.42s-.05,0-.07,0A.08.08,0,0,1,5.09,6.37Z"/></svg>
      </div>
    </div>
  </a>
</li>