<li class="home-post link-post">
  <div>
    <h4 class="m0 inline">Link</h4>
  </div>
  <a class="post-preview-body link-body relative flex flex-wrap content-between" href="{{ include.link.url }}">
    {% if include.link.image %}
      <div class="preview-image" style="background-image: url({{include.link.image}});)"></div>
    {% endif %}
    <div class="relative col-12 px1 center">
      <h5 class="m0">We're reading</h5>
    </div>
    <div class="relative center col-12 px1">
      <h2 class="m0"><span class="link-highlight-span"><span class="inblock-link">{{include.link.text}}</span></span></h2>
    </div>
    <div class="relative col-12 px1 center">
      <h5 class="m0">on <span class="inblock-link">{{ include.link.url | remove:'http://' | remove:'https://' | remove:'www.' | split:'/' | first }}</span></h5>
    </div>
  </a>
</li>