<li class="fill-element newsletter-post relative block center">
  <div class="short-line mt1">
    <h4 class="m0 inline">Sign Up</h4>
  </div>
  <div class="fill-newsletter-body flex flex-wrap content-center">
    <div class="col-12 mb2">
      <h3 class="m0 ">Subscribe to Our Newsletter</h3>
    </div>
    <div class="col-12 mb2">
      <h5 class="m0">We'll keep you up to date on our projects and events.</h5>
    </div>
    <div class="col-12">
      <form action="https://s1465054361.t.eloqua.com/e/f2" method="post" target="_blank">
        <input type="hidden" name="elqFormName" value="FFL_Newsletter_Reg">
        <input type="hidden" name="elqSiteID" value="1465054361">
        <input class="block col-12 center" type="email" id="mc-email" name="EMAIL" placeholder="Your Email" required="">
        <input class="relative mt1" type="submit" value="Sign Up" />
      </form>
    </div>
  </div>
</li>
