<li class="fill-element newsletter-post relative center flex items-center">
  <div class="fill-element-body flex flex-wrap content-center">
    <div class="col-12 mb2">
      <div class="short-line">
        <h4 class="m0 inline">Sign Up</h4>
      </div>
      <h3 class="m0 ">Subscribe to Our Newsletter</h3>
    </div>
    <div class="col-12 mb2">
      <h5 class="m0">We'll keep you up to date on our projects and events.</h5>
    </div>
    <div class="col-12">
      <form>
        <input class="block col-12 center" type="email" placeholder="Your Email" />
        <input class="relative mt1" type="submit" value="Sign Up" />
      </form>
    </div>
  </div>
</li>