<li class="fill-element newsletter-post relative block center">
  <div class="short-line mt1">
    <h4 class="m0 inline">Sign Up</h4>
  </div>
  <div class="fill-newsletter-body flex flex-wrap content-center">
    <div class="col-12 mb2">
      <h3 class="m0 ">Subscribe to Our Newsletter</h3>
    </div>
    <div class="col-12 mb2">
      <h5 class="m0">We'll keep you up to date on our projects and events.</h5>
    </div>
    <div class="col-12">
      <form action="//fastforwardlabs.us8.list-manage.com/subscribe/post?u=bdb368b9a389b010c19dbcd54&amp;id=1d8c97a0bd" method="post" target="_blank">
        <input class="block col-12 center" type="email" placeholder="Your Email" />
        <input class="relative mt1" type="submit" value="Sign Up" />
      </form>
    </div>
  </div>
</li>