<li class="post-preview relative flex flex-wrap {% if include.post.feature %}feature{% endif %}">
  <div class="block col-12">
    {% if include.prepend %}
      <div class="mb1">
        <div class="n-s">{{ include.prepend }} &nbsp;<span class="h5-arrow">↓</span></div>
      </div>
    {% endif %}
    <div class="short-line">
      <h4 class="m0 inline" style="margin-right: 0.125rem">
        {% if include.post.post_type %}
          {{ include.post.post_type }}
        {% else %}
          {% if include.post.feature %}
            Featured Post
          {% else %}
            Post
          {% endif %}
        {% endif %}
      </h4>
      <h5 class="inline m0">
        {{ include.post.date | date: "%b %-d %Y" }}
      </h5>
    </div>
  </div>
  {% if include.post.external_url %}
    <a class="post-preview-body relative flex flex-wrap content-between internal-post-link" href="{{ include.post.external_url }}">
  {% else %}
    <a class="post-preview-body relative flex flex-wrap content-between internal-post-link" href="{{ include.post.url | absolute_url }}">
  {% endif %}
    {% if include.post.preview_image %}
      <div class="preview-image" style="background-image: url({% if include.post.preview_image contains '://' %}{{ include.post.preview_image }}{% else %}{{ include.post.preview_image | absolute_url }}{% endif %});)"></div>
    {% else %}
      <div class="preview-image placeholder-image"></div>
    {% endif %}
    <div class="relative">
      <h2 class="m0"><span class="white-span"><span class="inblock-link">{{ include.post.title | escape }}</span></span></h2>
    </div>
    <div class="relative col-12">
      <h5 class="preview-excerpt"><span class="highlight-span">{% if include.post.author %}by <span class="author-spacer"><span itemprop="author" itemscope itemtype="http://schema.org/Person">{{ include.post.author }}</span></span> {% endif %}{% if include.post.interview_with %}with <span class="author-spacer">{{ include.post.interview_with }}</span>{% endif %}{% if include.post.author or include.post.interview_with %} &mdash; {% endif %}{{ include.post.content | markdownify | strip_html | truncate: 400 }}</span></h5>
      <h5 class="m0 right-align"><span class="inblock-link">&hellip;read more</span></h5>
    </div>
  </a>
  <h5 class="m0 author-byline-preview {% if include.post.author_link %}{% else %}pass-through{% endif %}">
    {% if include.post.author %}
      {% if include.post.author_link %}
        by <a href="{{ include.post.author_link }}" target="_blank" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ include.post.author }}</span></a>
      {% else %}
        by <span class="text-only-author" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ include.post.author }}</span></span>
      {% endif %}
    {% endif %}
    {% if include.post.interview_with %}
      {% if include.post.interview_with_link %}
        with <a href={{ include.post.interview_with_link }} target="_blank">{{ include.post.interview_with }}</a>
      {% else %}
        with <span class="text-only-author" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ include.post.interview_with }}</span>
      {% endif %}
    {% endif %}
  </h5>
</li>