<li class="post-preview relative flex flex-wrap {% if include.post.feature %}feature{% endif %}">
  <div class="block col-12">
    {% if include.prepend %}
      <h5 class="m0 inline">
        {{ include.prepend }}:
      </h5>
    {% endif %}
    <div class="short-line">
      <h4 class="m0 inline" style="margin-right: 0.125rem">
        {% if include.post.post_type %}
          {{ include.post.post_type }}
        {% else %}
          {% if include.post.feature %}
            Featured Post
          {% else %}
            Post
          {% endif %}
        {% endif %}
      </h4>
      <h5 class="inline m0">
        {{ include.post.date | date: "%b %-d %Y" }}
      </h5>
    </div>
  </div>
  <a class="post-preview-body relative flex flex-wrap content-between" href="{{ include.post.url | relative_url }}">
    {% if include.post.preview_image %}
      <div class="preview-image" style="background-image: url({{include.post.preview_image}});)"></div>
    {% endif %}
    <div class="relative">
      <h2 class="m0"><span class="white-span"><span class="inblock-link">{{ include.post.title | escape }}</span></span></h2>
    </div>
    <div class="relative">
      <h5 class="preview-excerpt {% if include.post.preview_image %}{% else %}text-only{% endif %}"><span class="highlight-span">{% if include.post.author %}by <span class="author-spacer"><span itemprop="author" itemscope itemtype="http://schema.org/Person">{{ include.post.author }}</span></span> &mdash; {% endif %}{{ include.post.content | strip_html | truncate: 400 }}</span></h5>
      <h5 class="m0 right-align"><span class="inblock-link">...read more</span></h5>
    </div>
  </a>
  <h5 class="m0 author-byline-preview {% if include.post.author_link %}{% else %}pass-through{% endif %}">
    {% if include.post.author %}
      {% if include.post.author_link %}
        by <a href="{{ include.post.author_link }}" target="_blank" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ include.post.author }}</span></a>
      {% else %}
        by <span class="text-only-author" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ include.post.author }}</span></span>
      {% endif %}
    {% endif %}
  </h5>
</li>