<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        messageStyle: "none"
      });
    </script>
    <script>
      var posts = [
        {% for post in site.posts %}
          "{% include post_preview.html post=post %}",
        {% endfor %}
      ];
    </script>

  </body>

</html>