---
layout: default
---

<div class="home">

  {{ content }}

  {% assign page_offseter = paginator.page | minus:1 %}
  {% assign post_offset = 19 | times:page_offseter %}
  {% assign link_count = 0 %}

  <!-- Loop does pretty much the same as below but just counts, this lets us figure out how many links we've already used -->
  {% if post_offset != 0 %}
    {% assign literal_post_count = 0 %}
    {% assign post_count = 1 %}
    {% for post in site.posts %}
      {% assign literal_post_count = literal_post_count | plus:1 %}
      {% assign modulo_check = post_count | modulo:3 %}
      {% assign disperse_check = post_count | modulo:8 %}
      {% if modulo_check == 0 and post.feature %}
        {% assign post_count = post_count | plus: 1 %}
        {% assign link_count = link_count | plus: 1 %}
      {% else %}
        {% if disperse_check == 0 or disperse_check == 7 and post.feature %}
          {% assign post_count = post_count | plus: 1 %}
          {% assign link_count = link_count | plus: 1 %}
        {% endif %}
      {% endif %}
      {% if post_offset == 0 and post_count == 7 %}
        {% assign post_count = post_count | plus:1 %}
      {% endif %}
      {% if modulo_check == 0 and post.feature %}
        {% assign post_count = post_count | plus: 1 %}
        {% assign link_count = link_count | plus: 1 %}
      {% endif %}
      {% if post.feature %}
        {% assign post_count = post_count | plus: 2 %}
      {% else %}
        {% assign post_count = post_count | plus: 1 %}
      {% endif %}
      {% if literal_post_count == post_offset %}
        {% break %}
      {% endif %}
    {% endfor %}
    {% assign modulo_temp = post_count | minus:1 | modulo:3 %}
    {% assign fill_slots = 3 | minus:modulo_temp %}
    {% if fill_slots != 3 %}
      {% for counter in (1..fill_slots) %}
        {% assign post_count = post_count | plus: 1 %}
        {% assign link_count = link_count | plus: 1 %}
      {% endfor %}
    {% endif %}
  {% endif %}

  <ul class="post-list flex flex-wrap justify-center">
    {% assign post_count = 1 %}
    {% assign links = site.data.links | reverse %}
    {% for post in paginator.posts %}
      {% assign modulo_check = post_count | modulo:3 %}
      {% assign disperse_check = post_count | modulo:8 %}
      {% if post_offset == 0 and post_count == 7 %}
        {% include newsletter.html %}
        {% assign post_count = post_count | plus:1 %}
      {% endif %}
      {% if modulo_check == 0 and post.feature %}
        {% assign current_link = links[link_count] %}
        {% include link.html link=current_link %}
        {% assign post_count = post_count | plus:1 %}
        {% assign link_count = link_count | plus:1 %}
      {% else %}
        {% if disperse_check == 0 or disperse_check == 7 and post.feature %}
          {% assign current_link = links[link_count] %}
          {% include link.html link=current_link %}
          {% assign post_count = post_count | plus:1 %}
          {% assign link_count = link_count | plus:1 %}
        {% endif %}
      {% endif %}
      <!-- Check modulo again after disperse is added in case that moved us over into a modulo -->
      {% if modulo_check == 0 and post.feature %}
        {% assign current_link = links[link_count] %}
        {% include link.html link=current_link %}
        {% assign post_count = post_count | plus:1 %}
        {% assign link_count = link_count | plus:1 %}
      {% endif %}
      {% include post_preview.html post=post %}
      {% if post.feature %}
        {% assign post_count = post_count | plus:2 %}
      {% else %}
        {% assign post_count = post_count | plus: 1 %}
      {% endif %}
    {% endfor %}
    {% assign modulo_temp = post_count | minus:1 | modulo:3 %}
    {% assign fill_slots = 3 | minus:modulo_temp %}
    {% if fill_slots != 3 %}
      {% for counter in (1..fill_slots) %}
        {% assign current_link = links[link_count] %}
        {% include link.html link=current_link %}
        {% assign post_count = post_count | plus:1 %}
        {% assign link_count = link_count | plus:1 %}
      {% endfor %}
    {% endif %}
  </ul>

  <div class="mb2">
    <div class="flex h5 m0 flex-wrap items-center justify-end px2">
      <div class="flex px1">
        <div class="flex tnum px05">
          <div class="px05">Page</div>
          {% for counter in (1..paginator.total_pages) %}
            {% if paginator.page == counter %}
              <div class="px05">
                <span class=""><strong>{{ counter }}</strong></span>
              </div>
            {% else %}
              <div class="px05">
                {% if counter == 1 %}
                  <a class="" href="{{ site.github.url }}/">
                    {{ counter }}
                  </a>
                {% else %}
                  <a class="" href="{{ site.github.url }}/page{{ counter }}">
                    {{ counter }}
                  </a>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="px05 flex">
          <div class="px05">
            {% if paginator.previous_page %}
              <a href="{{ paginator.previous_page_path }}" class="previous">Prev</a>
            {% else %}
              <span class="previous inactive">Prev</span>
            {% endif %}
          </div>
          <div class="px05">
            {% if paginator.next_page %}
              <a href="{{ paginator.next_page_path }}" class="next">Next</a>
            {% else %}
              <span class="next inactive">Next</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

</div>