<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

	<style type="text/css">
		body{font-family:sans-serif;font-size:18px;line-height:1.5}
		img{max-width:100%;margin:0 auto;display:block}h5{font-style:italic}
		blockquote{border-left:.25em solid #dfe2e5;padding:0 1em;color:#666;margin:1em 0}
	</style>

  <body>

 		<div style="max-width: 660px; margin: 0 auto; padding: 0 8px 27px; font-size: 18px; line-height: 1.5;">

 			<div style="overflow: hidden; font-size: 14px; margin-top: 14px;">
 				<div style="float: left; width: 46%;">Updates from FFL on new papers, articles, and exciting developments</div>
 				{% if page.slug %}
	 				<div style="float: right; width: 46%; text-align: right;"><a href="{{site.github.url}}/newsletters/{{page.slug}}.html">View this email in browser</a></div>
	 			{% endif %}
 			</div>

	 		<img src="http://fastforwardlabs.github.io/resources/images/logos/ff-logo-horizontal-white-bg.png" style="max-width: 500px; width: 100%; margin: 14px auto;" />

	    {{ content }}

		</div>

  </body>

</html>
