<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<style type="text/css">
		body{font-family:sans-serif;font-size:18px;line-height:1.5}
		img{max-width:100%;margin:0 auto;display:block}
		h5{font-style:italic}
		blockquote{border-left:.25em solid #dfe2e5;padding:0 1em;color:#666;margin:1em 0}
		.footnotes{font-size: 14px; margin-top: 30px}
	</style>

  <body>

 		<div style="max-width: 660px; margin: 0 auto; padding: 0 8px 27px;">

 			<div style="overflow: hidden; font-size: 14px; margin-top: 14px;">
 				<div style="float: left; width: 46%;">Updates from FFL on new papers, articles, and exciting developments</div>
 				{% if page.slug %}
	 				<div style="float: right; width: 46%; text-align: right;"><a href="{{site.github.url}}/newsletters/{{page.slug}}.html">View this email in browser</a></div>
	 			{% endif %}
 			</div>

	 		<img src="{{ site.github.url }}/images/2018/02/newsagain-1519315844895.png" style="width: 100%; margin: 14px auto;" />

	    {{ content }}

		</div>

  </body>

</html>
