<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <link rel="stylesheet" href="{{ "/assets/css/newsletter.css" | relative_url }}">

  <body>

 		<div style="max-width: 660px; margin: 0 auto; padding: 0 8px 27px;">

 			<div style="overflow: hidden; font-size: 14px; margin-top: 14px;">
 				<div style="float: left; width: 46%;">Updates from FFL on new papers, articles, and exciting developments</div>
 				{% if page.slug %}
	 				<div style="float: right; width: 46%; text-align: right;"><a href="{{github_url}}/newsletters/{{page.slug}}.html">View this email in browser</a></div>
	 			{% endif %}
 			</div>

	 		<img src="http://fastforwardlabs.github.io/resources/images/logos/ff-logo-horizontal-white-bg.png" style="max-width: 500px; width: 100%; margin: 14px auto;" />

	    {{ content }}

		</div>

  </body>

</html>
