---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header wide-container center relative">
    <h4>
      {% if page.post_type %}
        {{ page.post_type }}
      {% else %}
        {% if page.feature %}
          Featured Post
        {% else %}
          Post
        {% endif %}
      {% endif %}
    </h4>
    <h1 class="post-title relative" itemprop="name headline">{{ page.title | escape }}</h1>
    <h5>
      {{ page.date | date: "%b %-d %Y" }}
      {% if page.author %}
        {% if page.author_link %}
          &middot; by <a href={{ page.author_link }} itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></a>
        {% else %}
          &middot; by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
        {% endif %}
      {% endif %}
    </h5>
  </header>

  <div class="post-content container" itemprop="articleBody">
    {{ content }}
  </div>

</article>

<div class="mt3">
  <h4 class="px3 h0 mb2">More from the Blog</h4>
  <ul class="post-list flex flex-wrap justify-center no-feature">
    {% if page.previous.url %}
      {% include post_preview.html post=page.previous prepend="Older" %}
    {% endif %}
    {% if page.next.url %}
      {% include post_preview.html post=page.next prepend="Newer" %}
      {% assign first_post = site.posts.first %}
      {% include post_preview.html post=first_post prepend="Newest" %}
    {% else %}
      {% assign random_1 = site.time | date: "%s%N" | modulo: site.posts.size %}
      {% assign random_post_1 = site.posts[random_1] %}
      {% include post_preview.html post=random_post_1 prepend="Archive" %}
      {% assign random_2 = page.title.size | modulo: site.posts.size %}
      {% assign random_post_2 = site.posts[random_2] %}
      {% include post_preview.html post=random_post_2 prepend="Archive" %}
    {% endif %}
  </ul>
</div>